#click_thing {
	position: absolute;
	top: 5vh;
	left: 50vw;
	transform: translate(-50%, 0%);
	width: 20vw;
	height: auto;
	border: 2px solid black;
	border-radius: 25%;
}

body {
	margin: 0;
	overflow: hidden;
	background-color: #121212; /* dark background */
}

#resources p {
	color: #FFFFFF;
	text-align: center;
}

#resources {
	position: absolute;
	top: 70vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	width: 20vw;
	height: auto;
