#click_thing {
  position: absolute;
  left: 50%;
  top: 20vw;
  transform: translateX(-50%);
  width: 20vw;
  height: auto;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #F21212; /* dark background */
}
